<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>CFBundleName</key>
        <string>Shadowsocks</string>
        <key>CFBundleShortVersionString</key>
        <string>1.0</string>
        <key>CFBundleAllowMixedLocalizations</key>
        <string>false</string>
        <key>CFBundleInfoDictionaryVersion</key>
        <string>6.0</string>
        <key>CFBundleExecutable</key>
        <string>JavaApplicationStub</string>
        <key>CFBundleDevelopmentRegion</key>
        <string>English</string>
        <key>CFBundlePackageType</key>
        <string>APPL</string>
        <key>CFBundleSignature</key>
        <string>????</string>
        <key>CFBundleVersion</key>
        <string>213</string>
        <key>CFBundleIconFile</key>
        <string>AppIcon.icns</string>
        <key>CFBundleIdentifier</key>
        <string>me.ely.shadowsocks.BootGUI</string>
        <key>NSHumanReadableCopyright</key>
        <string>Copyright Ely</string>
        <key>JVMRuntime</key>
        <string>jdk1.8.0.jdk</string>
        <key>JVMMainClassName</key>
        <string>me.ely.shadowsocks.BootGUI</string>
        <key>JVMAppClasspath</key>
        <string></string>
        <key>JVMMainJarName</key>
        <string>shadowsocks-1.0.jar</string>
        <key>JVMPreferencesID</key>
        <string></string>
        <key>JVMOptions</key>
        <array>

        </array>
        <key>JVMUserOptions</key>
        <dict>

        </dict>
        <key>NSHighResolutionCapable</key>
        <string>true</string>
    </dict>
</plist>
